<html lang="en" ng-app="myApprovalsApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="./style/myApprovals.css"/>
    <link rel="stylesheet" type="text/css" href="./style/login.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-controller="ApprovalsController as AppCon" ng-cloak layout="column">
<!--
  Your HTML content here
-->

<div flex layout="row">


    <md-sidenav flex="5" md-is-locked-open="true" class="md-whiteframe-z1">
        <md-content>

        </md-content>


        <md-fab-speed-dial md-open="isOpen" md-direction="down" class="md-scale md-fab-top-right ">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-warn">
                    <i class="material-icons">&#xE152;</i>
                    <md-tooltip md-direction="right" md-visible="'false'">Menu</md-tooltip>
                </md-button>
            </md-fab-trigger>

            <md-fab-actions>
                <md-button aria-label="Home" class="md-fab md-raised md-mini" ng-click="AppCon.go('/Home')">
                    <i class="material-icons">home</i>
                    <md-tooltip md-direction="right" md-visible="AppCon.isOpen">Home</md-tooltip>

                </md-button>
                <md-button aria-label="New Requests" class="md-fab md-raised md-mini" ng-click="AppCon.go('/NR')">
                    <i class="material-icons">chrome_reader_mode</i>
                    <md-tooltip md-direction="right" md-visible="AppCon.isOpen">New Requests</md-tooltip>
                </md-button>
                <md-button aria-label="Approvals" class="md-fab md-raised md-mini"
                           ng-click="AppCon.go('/App')">
                    <i class="material-icons">assignment_turned_in</i>
                    <md-tooltip md-direction="right" md-visible="AppCon.isOpen">Approvals</md-tooltip>
                </md-button>
                <md-button aria-label="Login" class="md-fab md-raised md-mini"
                           ng-click="AppCon.go('/Login')">
                    <i class="material-icons">account_circle</i>
                    <md-tooltip md-direction="right" md-visible="AppCon.isOpen">Login</md-tooltip>
                </md-button>
                <md-button aria-label="Register" class="md-fab md-raised md-mini"
                           ng-click="AppCon.go('/Register')">
                    <i class="material-icons">usb</i>
                    <md-tooltip md-direction="right" md-visible="AppCon.isOpen">Register</md-tooltip>
                </md-button>

                <md-button aria-label="Dynamic Form" class="md-fab md-raised md-mini"
                           ng-click="AppCon.go('/DynamicForm')">
                    <i class="material-icons">assignment</i>
                    <md-tooltip md-direction="right" md-visible="AppCon.isOpen">Dynamic Form</md-tooltip>
                </md-button>

                <md-button aria-label="Test" class="md-fab md-raised md-mini"
                           ng-click="AppCon.go('/Test')">
                    <i class="material-icons">&#xE152;</i>
                    <md-tooltip md-direction="right" md-visible="AppCon.isOpen">Test</md-tooltip>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>

    </md-sidenav>
    <div layout="column" class="relative" layout-fill role="main">
        <md-toolbar ng-show="!showSearch">
            <div class="md-toolbar-tools">
                <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                    <ng-md-icon icon="menu"></ng-md-icon>
                </md-button>
                <h3>
                    Dashboard
                </h3>
                <span flex></span>
            </div>
        </md-toolbar>


        <div class="container">

            <div class="col-sm-9">


                <div ng-view></div>
                <!--<div ng-include src="'partials/task.html'"></div>-->
            </div>

        </div>
    </div>
</div>
<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<!-- Your application bootstrap  -->
<script src="./scripts/main.js"></script>
<script src="./scripts/Controllers.js"></script>
<script src="./scripts/services.js"></script>

</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->