

/*for Approvals screen*/
.listdemoBasicUsage md-divider {
    margin-top: 5px;
    margin-bottom: 0; }

/*switch code for Approvals screen*/
/*
 * The bar:
 */

md-switch .md-bar {
    background-color: #ba0a06; /* set not selected bar color */
}

md-switch.md-checked .md-bar {
    background-color: #2cff1c; /* set selected bar color */
}

md-switch[disabled] .md-bar {
    background-color: rgba(51, 51, 51, .15); /* set disabled bar color */
}

/*
 * The switch:
 */

md-switch .md-thumb {
    color: rgb(158,158,158); /* not selected switch color */
}

md-switch.md-checked .md-thumb {
    background-color: rgb(255,255,255); /* selected switch color */
}

md-switch[disabled] .md-thumb {
    background-color: rgb(255,255,255); /* disabled switch color */
}


/*Fab Menu*/


.fabSpeedDialdemoBasicUsage .text-capitalize {
    text-transform: capitalize; }

.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
    background-color: #000 !important; }

.fabSpeedDialdemoBasicUsage p.note {
    font-size: 1.2rem; }

.fabSpeedDialdemoBasicUsage .lock-size {
    min-width: 300px;
    min-height: 300px;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto; }





