<html ng-app="myApprovalsApp">
<head>
    <link rel="stylesheet" type="text/css" href="../style/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../style/myApprovals.css"/>
    <link rel="stylesheet" type="text/css" href="../style/login.css"/>

    <link href="//cdn.rawgit.com/indrimuska/angular-switcher/master/dist/angular-switcher.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="../style/css/materialdesignicons.css" media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700" rel="stylesheet" type="text/css">

</head>
<body >

<div class="navbar navbar-default" id="navbar">
    <div class="container" id="navbar-container">


    </div>
</div>
<div class="row">
    <div class="container">

        <div class="col-sm-9" ng-controller="ApprovalsController as AppCon">

            <md-tabs class="md-primary" md-autoselect="false" md-no-pagination="false" md-center-tabs="false">
                <md-tab label="Home" ng-click="AppCon.go('/Home')" md-active="AppCon.state == '/Home'"></md-tab>
                <md-tab label="New Requests" md-on-select="AppCon.go('/NR')" md-active="AppCon.state == '/NR'"></md-tab>
                <md-tab label="Approvals" md-on-select="AppCon.go('/App')" md-active="AppCon.state == '/App'"></md-tab>
                <md-tab label="Login" md-on-select="AppCon.go('/Login')" md-active="AppCon.state == '/Login'"></md-tab>
                <md-tab label="Register" md-on-select="AppCon.go('/Register')" md-active="AppCon.state == '/Register'"></md-tab>
            </md-tabs>

            <div ng-view></div>
            <!--<div ng-include src="'partials/task.html'"></div>-->
        </div>

    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
<script src="https://cdn.rawgit.com/indrimuska/angular-switcher/master/dist/angular-switcher.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="../node_modules/angular-material/angular-material.min.js"></script>
<script src="../app/scripts/main.js"></script>
<script src="../app/scripts/UserController.js"></script>

</body>
</html>
