    <form class="form-horizontal">
        <div class="control-group" ng-repeat="field in entity.fields">
            <label class="control-label">{{field.label}}</label>
            <div class="controls" ng-switch="field.type">
                <input ng-switch-when="text" type="text" ng-model="model[field.name]" ng-required="field.required" />
                <select ng-switch-when="select" ng-model="entity[field.name]" ng-required="field.required"
                        ng-options="item.id as item.name for item in getItems(field.endpoint)"></select>
            </div>
        </div>

        <button>Submit</button>
    </form>
